/* Universal Styles */

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #4a4a4a;
}

header,
body,
footer{
    max-width: 1151px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: "Roboto", sans-serif;
}

strong {
    font-weight: bold;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
    border: 0;
    max-width: 100%;
    height: auto;
}

h1 {}

h2 {}

p {}

.title {
    font-size: 53px;
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 32px;
}

.center {
    text-align: center;
}


/*BEGIN Main Area Section*/
.main-area {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 16px;
}

.main-area .content {
    text-align: left;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

/*END Aside Section*/


/*BEGIN Aside Section*/

.aside {
    width: 40%;
}

.aside .item {
    display: flex;
    flex-grow: 1;
    align-content: space-between;
}

.aside .item .image-container {
    width: 35%;
    height: auto;
    margin: 16px;
}

.info-container {
    text-align: left;


    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.aside .item h1 {
    font-size: 33px;
    font-weight: 700;
    line-height: 1.5;
}

.aside .item p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 8px;
}

/*END Aside Section*/



/* Header */

header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem 3.75rem;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

header .logo {
    flex-grow: 1;
    color: #ffb78c;
}

header .logo-small {
    display: none;
}

header .logo-small,
header .logo-big {
    flex-grow: 1;
    padding-left: 1.5rem;
}

nav li {
    display: inline;
    padding-right: 1rem;
}

nav li:last-child {
    padding-right: 0;
}

/* Learn Something New BANNER*/

.banner {
    width: 100%;
    min-height: 50vh;
    margin: auto;
    color: #4a4a4a;
    background: hsl(0, 0%, 80%);

    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

#banner .banner-image {
    width: 50vh;
    padding: 2rem 0;
}

#banner .banner-content {
    width: 60%;
    padding: 2.5rem 0;
}

.banner .cover {
    margin: 32px 24px;
}

.banner .introduction {
    flex: 1;
}

.banner .banner-text {
    padding: 2.5rem 0;
    line-height: 1.25;
}

.banner .banner-text h1 {
    font-size: 65px;
    font-weight: 600;
}

.banner .banner-text p {
    margin-top: 5px;
    font-size: 22px;
}

.cta {
    padding: 50px 0 0 0;
}

.cta .button {
    padding: 1rem 5rem;
    border-radius: 2px;
    background-color: #4a4a4a;
    color: white;
}

/* MAIN Section*/

.aside .item a {
    color: royalblue;
}

.main footer {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 23px;
}

/*START LEARNING*/

.start-learning {
    background: hsl(0, 0%, 85%);
}

.card {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-bottom: 2em;
}

.card img {
    width: 100%;
}

.card-content {
    height: 175px;
}

.card-content p {
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 24px;
}

.card-content h1 {
    padding-top: 16px;
    margin-left: 16px;
    font-size: 33px;
    font-weight: 700;

}

/* Flexbox stuff -- START LEARNING -- */

.cards {

    margin: 0 72px 32px 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex: 0 1 calc(33% - 1em);

}

/*THESIS-EXHIBIT Section*/

.thesis-exhibit {
    color: #4a4a4a;
}

.thesis-exhibit .main-area .content h2 {
    font-size: 35px;
    padding-top: 24px;
    padding-bottom: 8px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 1;
}

.main-area .content p {
    width: 90%;
    font-size: 18px;
    padding-bottom: 32px;
    font-weight: 400;
    line-height: 1.5;
}

.main-area .aside .item:first-child {
    background: hsl(0, 0%, 80%);
}


/* Footer Section */

footer {
    height: 70px;
    width: 100%;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p {
    margin: 16px 24px 0 24px;
    margin-top: 16px;
}